footer
  .container
    ul.list-inline.pull-left
      li &copy; 2014 Company, Inc

    ul.list-inline.pull-right
      li
        a(href="#") Terms of Use
      li
        a(href="#") Privacy Policy
      li
        a(href="https://github.com/aredo/express4-bootstrap-starter") GitHub Project
      li
        a(href="https://github.com/aredo/express4-bootstrap-starter/issues") Issues
