footer
  .container
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} Tricks.JS -
      li
        | Code licensed under &nbsp;
        a(href='http://opensource.org/licenses/mit-license.html') MIT License

    ul.list-inline.pull-right
      li
        a(href="https://github.com/aredo/express4-bootstrap-starter") GitHub Project
      li
        a(href="https://github.com/aredo/express4-bootstrap-starter/issues") Issues
      li
        a(href='http://hengkiardo.com') Created by Hengki Sihombing
