html,
body {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #fff;
}
.navbar-brand {
  padding: 0 15px;
}

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  padding: 0 0 140px;
}

footer {
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100px;
}

.form-signin {
  max-width: 375px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  border: none;
  box-shadow: none !important;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  outline: none;
  box-shadow: none !important;
  border: none;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
  width: 70%;
  margin: 0 auto 20px;
}

.form-signin .btn-twitter {
  color: #ffffff;
  text-align: left;
  width: 165px;
  float: left;
  padding-left: 10px;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}

.form-signin .btn-facebook {
  color: #ffffff;
  text-align: left;
  width: 170px;
  float: right;
  padding-left: 10px;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.avatar{
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
  margin-top: -5px;
  margin-right: 5px;

  img{
    border-radius: 500px;
    width: 100%;
  }
  i{
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    &.md{
      width: 12px;
      height: 12px;
      margin: 1px;
    }
    &.right{
      left: auto;
      right: 0;
    }
    &.bottom{
      left: auto;
      top: auto;
      bottom: 0;
      right: 0;
    }
    &.on{
      background-color: @brand-success;
    }
    &.off{
      background-color: @text-muted;
    }
    &.busy{
      background-color: @brand-danger;
    }
    &.away{
      background-color: @brand-warning;
    }
  }
}

.thumb-lg{width: 128px;display: inline-block}
.thumb-md{width: 64px;display: inline-block}
.thumb{width: 50px;display: inline-block}
.thumb-sm{width: 34px;display: inline-block}
.thumb-xs{width: 24px;display: inline-block}
.thumb-wrapper{padding: 2px; border: 1px solid #ddd}
.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img-full{
  max-width: 100%;
  > img{
    max-width: 100%;
  }
}
