extends ../layouts/default

block form
  .form-forgot-password
    form.form-forgot-password(action="/forgot-password", method="post", role="form")
      .list-group
        .list-group-item
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
          input.form-control.no-border(type='text', autocomplete="off" placeholder='Email', name="email")

      button.btn.btn-lg.btn-primary.btn-block.btn-forgot.progress-button(type='submit' data-style="fill" data-horizontal) Forgot Password
