extends ../layouts/default

block form
  .form-forgot-password
    form.form-forgot-password(action="/forgot-password", method="post", role="form")
      .list-group
        .list-group-item
          input.form-control.no-border(type='text', autocomplete="off" placeholder='Email', name="email")

      button.btn.btn-lg.btn-primary.btn-block.btn-forgot(type='submit') Forgot Password
