extends ../layouts/default

block form
  .form-reset-password
    form.form-reset-password(action="/reset/#{req.params.token}", method="post", role="form")
      input#_csrf(type='hidden', name='_csrf', value=_csrf)
      .list-group
        .list-group-item
          input.token(type="hidden", name='token', value="#{req.params.token}")
          input.form-control.no-border#new_password(type='password', autocomplete="off" placeholder='New Password', name="new_password")
        .list-group-item
          input.form-control.no-border#confirm_new_password(type='password', placeholder='Confirm New Password', name="confirm_new_password")

      button.btn.btn-lg.btn-primary.btn-block.btn-reset-password(type='submit') Reset Password
