extends layouts/default

block main
  if !req.isAuthenticated()
    h1 ExpressJS 4 Bootstrap starter template
    p.lead Use this document as a way to quickly start any new project.<br>All you get is this text and a mostly barebones HTML document.
  else
    div
      h1.page-title.m-t-none.pull-left My Trick
      a.btn.btn-primary.pull-right(href="trick/create" title="Create New Trick") Create New
      .clearfix
