<script id="trickItem" type="text/template">
<div class="col-lg-3 pad-none m-r-sm b trick-item">
  <figure class="thumb-btn">
    <img src="/screenshot/{{screenshot}}">
  </figure>
  <div class="panel-body b-t">
    <h4 class="pad-none m-n">
      <a href="{{origin_url}}" target="_blank">{{title}}</a>
      </h4>
  </div>
</div>
</script>
